<div
    class="board-details__column"
    tt-drop-container 
    tt-drop-data="{id: $ctrl.list.id}"
    tt-callback="$ctrl.handleDrop({data: data, dropData: dropData})"
    >
    <span 
        class="icon icon--remove board-details__remove-list-icon"
        ng-click="$ctrl.removeList({listId: $ctrl.list.id})"
    ></span>
    <h5 class="board-details__column-title">{{ $ctrl.list.title }}</h5>
    <tt-task 
        ng-repeat="todo in $ctrl.list.todo" 
        todo="todo"
        toggle-status="$ctrl.toggleStatus({id: id, listId: listId})"
        update-task-title="$ctrl.updateTaskTitle({id: id, listId: listId})"
        remove-list-item="$ctrl.removeListItem({id: id, listId: listId})"
    >        
    </tt-task>
    <div class="board-details__add-list-item">
        <form>
            <input 
                ng-model="$ctrl.newTaskTitle"
                type="text" 
                class="board-details__add-list-item-input"
                placeholder="New task title"
            >
            <button
                class="button board-details__add-list-item-button"
                ng-click="$ctrl.addTask({listId: $ctrl.list.id, title: $ctrl.newTaskTitle})"
                type="submit"
            >Add</button>
        </form> 
    </div>
</div>