<div class="board-details">
    <div ng-if="$ctrl.isLoading === true">
        <p class="board-details__message">Loading...</p>
    </div>
    
    <div ng-if="$ctrl.isLoading === false">
        <h3 class="board-details__header"><span>Board:</span> {{ $ctrl.title }}</h3>
        <div class="board-details__columns">
            <tt-column 
                ng-repeat="item in $ctrl.lists"
                list="item"
                handle-drop="$ctrl.handleDrop(data, dropData)"
                toggle-status="$ctrl.toggleStatus(id, listId)"
                update-task-title="$ctrl.updateTaskTitle(id, listId)"
                remove-list="$ctrl.removeList(listId)"
                remove-list-item="$ctrl.removeListItem(id, listId)"
                add-task="$ctrl.addTask(listId, title)"
                add-list="$ctrl.addList()"
            >
                
            </tt-column>
            <div class="board-details__add-column-container">
                <form>
                    <input 
                        ng-model="$ctrl.newListTitle"
                        type="text" 
                        class="board-details__add-column-input"
                        placeholder="New list title"
                    >
                    <button 
                        class="button board-details__add-column-button"
                        ng-click="$ctrl.addList()"
                    >Add list</button>
                </form>
            </div>
        </div>
    </div>
</div>  