<form class="auth__form">
    <div class="auth__form-row">
        <label class="auth__form-label" for="signIn-email">Email:</label>
        <input class="auth__form-input" id="signIn-email" type="email" ng-model="$ctrl.email" required >
    </div>
    <div class="auth__form-row">
        <label class="auth__form-label" for="signIn-password">Password:</label>
        <input class="auth__form-input" id="signIn-password" type="password" ng-model="$ctrl.password" required >
    </div>
    <div class="auth__form-row">
        <button class="auth__form-submit" type="submit">Submit</button>
    </div>
</form>
